<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="stylesheets/events.css">
	</head>
	<body>
		<%- include navbar %>
		
		<div class="fs-container">
			<header class="clearfix">
				<h1><%= title %></h1>
			</header>

			<div class="main">
				<ul class="cbp_tmtimeline">
					<% var len = events.length; %>
					<% for(var i = len - 1; i >= 0; i--) { %>
					<li>
						<time class="cbp_tmtime" datetime="2014/4/16">
							<span> </span>
							<span><%= events[i]['date'] %></span>
						</time>
						<div class="cbp_tmicon cbp_tmicon-earth"></div>
						<div class="cbp_tmlabel">
							<div class="fs-title" id="fs-title-event<%= i %>">
								<h2><%= events[i]['title'] %></h2>
							</div>
							<div class="fs-content" id="fs-content-event<%= i %>">
								<p><%= events[i]['content'] %></p>
							</div>
						</div>
					</li>
					<% } %>
				</ul>
			</div>
		</div>

		<%- include footer %>
		
		<script type="text/javascript" src="javascripts/timeline.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#nav-event').addClass('active');
			});
		</script>
	</body>
</html>
