<div id="add-new-article" data-toggle="modal" data-target="#add-article-form">新增文章</div>

<div class="modal fade" id="add-article-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        		<h4 class="modal-title" id="myModalLabel">新增文章</h4>
      		</div>
      		<div class="modal-body">
        		<form class="form-horizontal" role="form">
					<div class="form-group">
	    				<label for="inputEmail3" class="col-sm-2 control-label">標題</label>
	    				<div class="col-sm-10">
	      					<input type="email" class="form-control" id="inputEmail3">
	    				</div>
  					</div>
  					<div class="form-group">
    					<label for="inputPassword3" class="col-sm-2 control-label">內容</label>
    					<div class="col-sm-10">
      						<textarea class="form-control" rows="8"></textarea>
    					</div>
  					</div>
  					<div class="form-group">
    					<div class="col-sm-offset-4 col-sm-8">
    						<button type="submit" class="btn btn-danger">
      							<span class="glyphicon glyphicon-minus"></span>&nbsp;&nbsp;取消
      						</button>
      						&nbsp;&nbsp;
      						<button type="submit" class="btn btn-primary">
      							<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;新增
      						</button>
    					</div>
  					</div>
				</form>
      		</div>
    	</div>
  	</div>
</div>


<!-- waterfall excerpts -->
<div class="container waterfall" data-col-min-width="240" data-default-container-width="600" data-autoresize="true">
	<% var len = items.length; %>
	<% for(var i = 0; i < len; i++) { %>
	<div data-toggle="modal" data-target="#article1">
		<div class="article-title"><%= items[i]['food'] %></div>
		<div class="article-content">
			時間：<%= items[i]['date'] %><br/>
			地點：<%= items[i]['location'] %><br/>
			理由：<%= items[i]['reason'] %><br/>
			編號：<%= items[i]['idNum'] %><br/>
			法條：<%= items[i]['law'] %><br/>
			懲處：<%= items[i]['punish'] %><br/>
		</div>
	</div>
	<% } %>

</div>
