<!-- waterfall excerpts -->
<div class="container waterfall" data-col-min-width="240" data-default-container-width="600" data-autoresize="true">
	<% var len = items.length; %>
	<% for(var i = 0; i < len; i++) { %>
	<div data-toggle="modal" data-target="#article1">
		<div class="article-title"><%= items[i]['food'] %></div>
		<div class="article-content">
			時間：<%= items[i]['date'] %><br/>
			地點：<%= items[i]['location'] %><br/>
			理由：<%= items[i]['reason'] %><br/>
			編號：<%= items[i]['idNum'] %><br/>
			法條：<%= items[i]['law'] %><br/>
			懲處：<%= items[i]['punish'] %><br/>
		</div>
	</div>
	<% } %>
</div>

<% if (!page) { page = 0; } %>

<div class="container pages-container">
<div class="pages-bar">
	<button type="button" class="btn btn-default" 
		<% if(page > 0){ %>
		onclick="(function(){
			location.href='/food?pages=<%-(page-1)%>'
		})()"
		<%}%>
	>上一頁</button>

	<% for(var i = 0; i<10;i++){ %>
		<% if (i == page) { %>
		<button type="button" class="btn btn-primary" onclick="(function(){
			location.href='/food?pages=<%-(i)%>'
			})()"><%- (i+1) %></button>
		<% } else { %>
		<button type="button" class="btn btn-default" onclick="(function(){
			location.href='/food?pages=<%-(i)%>'
			})()"><%- (i+1) %></button>
		<% } %>
	<% } %>
	<button type="button" class="btn btn-default" 
		<% if(page < 9){ %>
			onclick="(function(){
				location.href='/food?pages=<%-(page-1)%>'
			})()"
		<%}%>
		})()">下一頁</button>
</div>
</div>