<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="stylesheets/sidebar.css">
	</head>
	<body>
		<%- include navbar %>
		<%- include food_articles %>
		<%- include foodlist %>
		<%- include footer %>
		<script type="text/javascript" src="javascripts/zepto.js"></script>
		<script type="text/javascript" src="javascripts/jquery.waterfall.js"></script>
		<script type="text/javascript" src="javascripts/classie.js"></script>
		<script type="text/javascript">
			var menuBottom = document.getElementById('cbp-spmenu-s4'),
				showBottom = document.getElementById('showBottom');
			showBottom.onclick = function() {
				classie.toggle(this, 'active');
				classie.toggle(this, 'showBottom-button-close');
				classie.toggle(menuBottom, 'cbp-spmenu-open');
			};
		</script>
		<script type="text/javascript">
			$('#nav-food').addClass('active');			
			document.getElementById('nav-btn-all').style.display = 'inline';
			document.getElementById('nav-btn-mylist').style.display = 'inline';
			$('#nav-btn-all').removeClass('btn-default').addClass('btn-primary');

			$('#add-item').popover({
				html: true,
				content: function() {
					return $('#add-item-form').html();
				}
			});
			$('body').on('click', function (e) {
    			$('[data-toggle="popover"]').each(function () {
        			if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            			$(this).popover('hide');
        			}
    			});
			});
			// console.log($('#newItem'), "ewrwrrewre");
			$('.modal-body').find('input [type=email]').on('click', function() {

			});
			
		</script>
	</body>
</html>
