<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="stylesheets/sidebar.css">
	</head>
	<body>
		<%- include navbar %>
		<%- include modals %>
		<%- include food_articles %>
		<%if (hasList) { %>
			<%- include foodlist %>
		<% } %>

		<%- include footer %>
		<script type="text/javascript" src="javascripts/zepto.js"></script>
		<script type="text/javascript" src="javascripts/jquery.waterfall.js"></script>
		<script type="text/javascript" src="javascripts/classie.js"></script>
		<script type="text/javascript">
			var menuBottom = document.getElementById('cbp-spmenu-s4'),
				showBottom = document.getElementById('showBottom');
			showBottom.onclick = function() {
				classie.toggle(this, 'active');
				classie.toggle(this, 'showBottom-button-close');
				classie.toggle(menuBottom, 'cbp-spmenu-open');
			};
		</script>
		<script type="text/javascript">
			$('#nav-food').addClass('active');			
			document.getElementById('nav-btn-all').style.display = 'block';
			document.getElementById('nav-btn-mylist').style.display = 'block';
			document.getElementById('nav-search-bar').style.display = 'block';
			
			<%if (!hasList) { %>
				$('#nav-btn-all').removeClass('btn-default').addClass('btn-primary');
			<% } %>
			<%if (hasList) { %>
				$('#nav-btn-mylist').removeClass('btn-default').addClass('btn-primary');
			<% } %>

			$('#add-item').popover({
				html: true,
				content: function() {
					return $('#add-item-form').html();
				}
			});
			$('body').on('click', function (e) {
    			$('[data-toggle="popover"]').each(function () {
        			if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            			$(this).popover('hide');
        			}
    			});
			});

			
			$('#myModal').modal({
			  keyboard: false
			});

			$('#search-bar').on('click', function(){
				var result = $("input[type=text]").val();
				$.ajax({
					url: '/search?keyword=' + result,
					type: 'GET',
					success: function(data){
						if (result.length === 0) {
							$('#search-articles .modal-title').html("").append(
								'<center>請輸入欲搜尋的食品名稱</center>'
							);
							$('#search-articles .modal-body').html("").append(
								'<center>查無資料</center>'
							);
						}
						else {
							$('#search-articles .modal-title').html("").append(
								'<center>' + result + '的查詢結果</center>'
							);
							if(data.length === 0) {
								$('#search-articles .modal-body').html("").append(
									'<center>恭喜！目前並無任何有關' + result + '的相關違規食品</center>'
								);
							}
							else{
								for (var i = 0; i < data.length; i++) {
									$('#search-articles .modal-body').append(
										'<h3>'+ data[i]['food'] + '</h5>' +
										'<h5> 時間:' + data[i]['date'] + '</h5>' +
										'<h5> 地點:' + data[i]['location'] + '</h5>' +
										'<h5> 理由:' + data[i]['reason'] + '</h5>' +
										'<h5> 編號:' + data[i]['idNum'] + '</h5>' +
										'<h5> 法條:' + data[i]['law'] + '</h5>' +
										'<h5> 懲處:' + data[i]['punish'] + '</h5>' +
										'<hr><br>'
									);
								};
							}
						}
					},
					error: function(data){
						// alert('fuck u error');
						$('#search-articles .modal-body').html("");
					},
					complete: function(data) {
						// alert(data);
					}
				});
			});

			$('#search-box').on('focus', function() {
				$(this).on('keyup', function(e) {
					if (e.which === 13) {
						$('#search-bar').click();
					}
				});
			});

			function noenter() {
		  		return !(window.event && window.event.keyCode == 13);
		  	}

		</script>
	</body>
</html>
